<ion-header translucent="true">
  <ion-toolbar>
    <ion-title size="large">State Management Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-text-center">
    <form #form="ngForm" novalidate>
    <ion-item fill="outline" class="gg" >
      <ion-label position="floating" >id</ion-label>
      <ion-input type="number" [(ngModel)]="id" name="id" required ></ion-input>
    </ion-item>
    <ion-item fill="outline" class="gg">
      <ion-label position="floating">name</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>

<ion-button shape="round" [disabled]="!form.valid" (click)="onSubmit(1)" (click)="presentToast('Added to list')">add data</ion-button>
<ion-button shape="round" [disabled]="!form.valid" (click)="onSubmit(2)" (click)="presentToast('Deleted from  list')">delete data</ion-button>
<ion-button shape="round" [disabled]="!form.valid" (click)="onSubmit(3)" (click)="presentToast('Updated to list')">update</ion-button>
</form>
</ion-card>

</ion-content>
<ion-footer>
  <ion-button routerLink="/list-data" expand="block" fill="clear" shape="round">
    view List
  </ion-button>
</ion-footer>
